.dorm-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 1rem 4.5rem 2.5rem;
    /* border: 1px solid; */
}

.dorm-details-container {
    width: 100%;
    /* border: 1px solid red; */
}

/* NAVBAR STYLES */
.navbar-list-details {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-btn-details, .save-btn {
    display: flex;
    align-items: center;
    color: #000;
    font-weight: 500;
}

.save-btn {
    gap: 6px;
    border-radius: 8px;
    border: 1.5px solid #cbd5e160;
    padding: 6px 0.9rem;
}

/* EMBLA CAROUSEL */
.embla-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* padding: 0 0 0 9rem; */
    width: 100%;
}

.embla-carousel-viewport {
    flex: 1;
    overflow: hidden;
    border-radius: 12px;
    height: 100%;
    aspect-ratio: 16/9;
}

.embla-container {
    display: flex;
    height: 100%;
}

.embla-slide {
    flex: 0 0 100%;
    min-width: 0;
    height: 100%;
    padding: 0.5rem;
}


.embla-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
    aspect-ratio: 16/9;

}

.embla-btn {
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    z-index: 1;
}

.embla-prev {
    transform: translateX(150%);
}

.embla-next {
    transform: translateX(-150%);
}

.carousel-navigate-icon {
    color: #000;
}