.main-container {
    min-width: 100vw;
}

/* HERO AREA */
.hero-section {
    position: relative;
    background: linear-gradient(
        to right,
        hsl(222.2 47.4% 11.2% / 0.9),
        hsl(222.2 47.4% 11.2%)
    );
    padding: 2rem 8rem 6rem;
    color: #ffffff;
}

.hero-container {
    max-width: 1280px;
    margin: 0 auto;
}

.hero-content {
    max-width: 672px;
}

.hero-title {
    font-size: 2.875rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

.hero-description {
    font-size: 1.125rem;
}


/* SEARCH BODY (INPUT AND LOCATION) */
.search-form {
    background-color: #f9fafb;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 65%;
}

.search-form-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input-icon {
    transform: translateX(160%);
}

.search-input-body, .location-input {
    height: 2.25rem;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    background-color: transparent;
    padding: 0 0.75rem 0 2.25rem;
    font-size: 0.875rem;
    color: #64748B;
    width: 84.5%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-button {
    height: 2.25rem;
    border-radius: 0.375rem;
    border: 1px solid #d1d5db;
    padding: 0 1.15rem;
    color: #fff;
    background-color: #000;
    font-weight: 600;
    cursor: pointer;
    margin-right: 0.75rem;
}

.search-input-container, .location-input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.search-input-container {
    flex-grow: 1;
}

.input-icon {
    color: #9DA3AE;
}


@media (min-width: 768px) {
    .hero-title {
        font-size: 3rem;
    }

    /* .hero-section {
        padding: 2rem;
    } */

    .hero-description {
        font-size: 1.25rem;
    }

    .search-form-inner {
        flex-direction: row;
    }

    .location-input-container {
        width: 33.333333%;
    }
}

