.overview {
    background-color: #F8FAFB;
    color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 1rem 3rem;
}

.overview-title {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 2rem;
}

.listing-grid {
    display: grid;
    justify-content: center;
    gap: 1.5rem;
}


/* OVERVIEW CARDS */
.overview-card {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 2rem 1rem;
}

.overview-card > h2 {
    font-size: 1.4rem;
    margin-bottom: 0;
    font-weight: 700;
}

.lucide-icon {
    border-radius: 50%;
    border: none;
    background-color: #E7E7E9;
    padding: 0.9rem;
    height: 4.45rem;
    width: 4.45rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview-description {
    padding: 10px 0;
}

.overview-description > p {
    text-align: center;
    font-size: 1.1rem;
    color: #6C727F;
    font-weight: 500;
}